{% extends "layout.html" %}
{% block title %}
Index
{% endblock %}
{% block main %}
<h2>Dashboard</h2>
   <table>
      <thead>
         <tr>
            <th>Stocks</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Value</th>
         </tr>
      </thead>
      <tbody>
         {% for stock in stocks %}
         <tr>
            <td> {{ stock.name }} </td>
            <td> {{ stock.symbol }} </td>
            <td> {{ stock.value }} </td>
            <td> {{ usd(stock.price) }} </td>
            <td> {{ usd(stock.price * stock.value) }} </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
<section>
   Balance: {{ usd(cash) }}
</section>
<section>
   Equity: {{ usd(total) }}
</section>

{% endblock %}